<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vehicles</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto" rel="stylesheet">
    <style>
        body {
            color: white;
        }

        h1 {
            font-family: 'Playfair Display', serif;
            color:black;
        }

        #vehicles .list-group-item {
            cursor: pointer;
        }

        #door-states .list-group-item {
            cursor: pointer;
        }
    </style>
</head>

<body class="my-4">
    <div class="container">
        <div id="vehicles-wrapper">
            <h1 class="display-4 my-4">Vehicles</h1>
            <ul id="vehicles" class="list-group"></ul>
        </div>
        <div id="vehicle-details-wrapper" class="d-none">
            <h1 class="display-4 my-4">Vehicle Details</h1>
            <ul id="vehicle-details" class="list-group"></ul>
        </div>
        <div id="door-states-wrapper" class="d-none">
            <h1 class="display-4 my-4">Door States</h1>
            <ul id="door-states" class="list-group"></ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        const query = window.location.search.substring(1);

        const vehiclesListWrapper = document.getElementById('vehicles-wrapper');
        const vehicleDetailsListWrapper = document.getElementById('vehicle-details-wrapper');
        const doorStatesListWrapper = document.getElementById('door-states-wrapper');

        const vehiclesList = document.getElementById('vehicles');
        const vehicleDetailsList = document.getElementById('vehicle-details');
        const doorStatesList = document.getElementById('door-states');

        const xhttp = new XMLHttpRequest();
        xhttp.open("GET", "/vehicles", true);
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                const vehicles = JSON.parse(this.responseText);
                vehicles.forEach(vehicle => {
                    let listItem = document.createElement('li');
                    let a = document.createElement('a');
                    listItem.setAttribute('data-id', vehicle.id);
                    listItem.innerText = vehicle.licenseplate;
                    listItem.classList.add('list-group-item');
                    vehiclesList.appendChild(listItem);
                });
            }
        };
        xhttp.send();

        vehiclesList.addEventListener("click", function (event) {
            if (event.target && event.target.matches("li.list-group-item")) {
                const vehicleId = event.target.getAttribute('data-id');
                fetchVehicle(vehicleId);
                getVehicleDoors(vehicleId);
                vehicleDetailsListWrapper.classList.remove('d-none');
                doorStatesListWrapper.classList.remove('d-none');
                setInterval(function() { getVehicleDoors(vehicleId) }, 7000);
            }
        });

        doorStatesList.addEventListener('click', function (event) {
            if (event.target && event.target.matches("li.list-group-item")) {
                const vehicleId = event.target.getAttribute('data-id');
                const doorCommand = event.target.getAttribute('data-command');
                controlDoors(vehicleId, doorCommand);
            }
        });

        function fetchVehicle(id) {
            const xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/vehicles/" + id, true);
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    const vehicle = JSON.parse(this.responseText);
                    Object.keys(vehicle).forEach(key => {
                        let listItem = document.createElement('li');
                        listItem.classList.add('list-group-item');
                        listItem.innerText = key + " " + vehicle[key];
                        vehicleDetailsList.appendChild(listItem);
                    });
                }
            };
            xhttp.send();
        }

        function getVehicleDoors(id) {
            const xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/vehicles/" + id + "/doors", true);
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    const doors = JSON.parse(this.responseText);
                    doorStatesList.innerHTML = "";
                    Object.keys(doors).forEach(key => {
                        let listItem = document.createElement('li');
                        listItem.setAttribute('data-id', id);
                        listItem.classList.add('list-group-item');
                        listItem.innerText = key + " " + doors[key].value + " " + doors[key].retrievalstatus + " " + doors[key].timestamp;
                        if(doors[key].value === 'LOCKED') listItem.setAttribute('data-command', 'UNLOCK');
                        if(doors[key].value === 'UNLOCKED') listItem.setAttribute('data-command', 'LOCK');
                        doorStatesList.appendChild(listItem);
                    });
                }
            };
            xhttp.send();
        }

        function controlDoors(id, command) {
            const xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/vehicles/" + id + "/doors" + "?command=" + command, true);
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    const status = JSON.parse(this.responseText);
                    console.log(status);
                }
            };
            xhttp.send();
        }
    </script>
</body>

</html>